#celsius {
}

#form-input {
  margin-right: 15px;
}

.container {
  width: 900px;
}

.current-info {
  padding: 20px;
}

.super-script {
  font-size: 20px;
  vertical-align: top;
}

.weather-display {
  font-size: 60px;
}

li {
  list-style: none;
  text-align: left;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}
