#current-wind-unit {
  text-transform: lowercase;
}

#form-input {
  margin-right: 15px;
  background-color: #f9f7fe;
}

.btn-primary {
  width: 20%;
  padding: 10px;
  font-size: larger;
}

.container {
  width: 1000px;
  margin-top: 30px;
}

.credits {
  font-size: x-small;
  padding: 0 10px;
  text-align: center;
}

.current-info {
  padding: 40px 10px;
}

.pointer:hover {
  cursor: pointer;
}

.strong {
  font-weight: bold;
}

.super-script {
  font-size: 20px;
  vertical-align: top;
}

.weather-display {
  font-size: 80px;
}

li {
  list-style: none;
  text-align: left;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}
